@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat;
	background: #ee9ca7;
	background: -webkit-linear-gradient(to top, #ee9ca7, #ffdde1);
	background: linear-gradient(to top, #ee9ca7, #ffdde1);
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	min-width: 400px;
	background: linen;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #665b5063;
}

h1 {
	text-align: center;
	padding: 25px 0;
	color: #666666;
	border-bottom: 3px solid #ddcab863;
	font-weight: 700;
}

#forgotten-title {
	font-size: 24px;
	padding: 10px 0 20px 0;
}

.wrapper form {
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 25px;
}

#textFieldSection {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 35px;
}

#formFooterSection {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	padding-top: 20px;
}

/* Input Text Boxes */
form .txt_field {
	position: relative;
	border-bottom: 2px solid #ebdaca;
}

.txt_field input {
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
	color: #666666;
}

.txt_field label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #c3ab93;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: 0.6s;
	font-weight: 500;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
	top: -10px;
	color: #ee9ca7;
}

#forgottenLink {
	color: #c3ab93;
	text-decoration: none;
	transition: 500ms;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-ms-transition: 500ms;
	-o-transition: 500ms;
}

#forgottenLink:hover {
	color: #ee9ca7;
}

/* Form Footer Section */
input[type="submit"] {
	width: 100%;
	height: 50px;
	border: none;
	background: #ee9ca7;
	border-radius: 25px;
	font-size: 18px;
	color: #ffdde1;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #df848f;
}

.extraOption {
	text-align: center;
	font-size: 16px;
	color: #666666;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 13px;
}

.extraOption span {
	color: #ee9ca7;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.extraOption span:hover {
	text-decoration: underline;
}

/* Phones */
@media screen and (max-width: 500px) {
	.wrapper {
		/* min-width: 350px; */
		min-width: 330px;
	}

	.wrapper form {
		padding: 40px 30px;
	}

	h1 {
		font-size: 1.6rem;
		padding: 20px 0;
	}

    #forgotH1 {
		font-size: 1.4rem;

    }

	input[type="submit"] {
		height: 43px;
		font-weight: 600;
	}
}

/* Tablets */
@media screen and (min-width: 501px) and (max-width: 767px) {
}

/* Small Screens - Laptop & Computer */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .wrapper {
		/* min-width: 350px; */
		max-width: 250px;
	}

	h1 {
		font-size: 1.6rem;
		padding: 30px 0;
	}

    #forgotH1 {
		font-size: 1.4rem;

    }
}

/* Large Screens - Laptop & Computer */
@media screen and (min-width: 1201px) and (max-width: 1500px) {
    .wrapper {
		width: 200px;
	}
}
